body {
  overflow: scroll;
  overflow-x: hidden;
}
/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.head-link {
  text-decoration: none;
}

.head-link:hover {
  color: #fff;
}

.footer-link {
  color: #f1f1f1;
  opacity: 0.5;
}
.footer-link:hover {
  color: #f1f1f1;
  opacity: 0.8;
}

.add-btn {
  margin-left: 10px;
}
